<!DOCTYPE html>
<html lang="en" ng-app="ZeroPoint">
<head>
    <meta charset="UTF-8">
    <title>Zero point</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="app/css/main.css" type="text/css" rel="stylesheet"/>

</head>

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
    <div class="container">
        <div ng-show="!loggedIn">
            <input type="text" ng-model="login.email" class="form-control">
            <input type="password" ng-model="login.password" class="form-control">
            <button ng-click="logUserin()">Log In</button>
            <a ui-sref="signUp">Create an Account</a>
        </div>
        <div ng-show="loggedIn">
            <a ui-sref="editProfile">Edit Profile</a> | <a ng-click="logOut()" ui-sref="/">Log Out</a>
        </div>
    </div>
</nav>
<body>

<div ui-view></div>

</body>
<script src="node_modules/angular/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
<script src="app/app.js"></script>
<!-- Controllers -->
<script src="app/signup/signup-controller.js"></script>
<script src="app/navigation/navigation-controller.js"></script>
<script src="app/profile/edit-profile-controller.js"></script>
<script src="app/main/main-controller.js"></script>

<!-- Libraries -->
<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
</html>